{% extends 'layout.html' %}
{% block css %}
    <style>
        .change input, select,textarea {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
        textarea{
            min-height: 200px;
        }
    </style>

{% endblock %}
{% block content %}

    <div class="panel panel-default">
        <div class="panel-heading">操作</div>
        <div class="panel-body">
            <div style="width: 680px;margin: 0 auto;">
                <form class="change" method="post">
                    {% csrf_token %}
                    {% for filed in form %}
                        <div class="form-group">
                            <label>{{ filed.label }}</label>
                            {{ filed }}
                            {{ filed.errors.0 }}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}